.inputBox{
    width : 100%;
    height:50px;
    min-height: 800px ;
    max-height: 1000px;
    border: 1px solid #46A0F4;
    margin-left: 5%;
    margin-right : 5%;
    margin-top: 10px;
   
    
}
.inputText{
    width : 100%;
    height:50px;
    min-height: 50px ;
    max-height: 500px;
    border: 1px solid #46A0F4;
    margin-left: 5%;
    margin-right : 5%;
    margin-top: 10px;
   
    
}
.inputField{
    
    outline: none;
    width: 90%;
    border: none;
    font-size: 22px;
    overflow-wrap: normal;
    height: 90%;
    

}